@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

html {
    height: 100%;
    margin: auto;
    width: 100%;
    overflow: scroll;
}

body{
  text-align: center;
  background-color:#b9cf9d;
  border: 0px;
  border-top: 0px;
  margin:0px
}

h1{
  color:#ffffff;
  font-family: 'Montserrat', serif;
}
.h1 {
  text-align: center;
  width: 100%;
  border: 0px;
  border-top: 0px;
  margin:5px;
  height: 50px;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.5),
  0 2px 2px hsl(0deg 0% 0% / 0.5),
  0 4px 4px hsl(0deg 0% 0% / 0.5),
  0 6px 6px hsl(0deg 0% 0% / 0.5)
  ;
}

h3{
  color:#ffffff;
  font-family: 'Montserrat', serif;
}

h5{
  color:#ffffff;
  font-family: 'Montserrat', serif;
}

p{
  color:#ffffff;
  font-family: 'Montserrat', serif;
}

.footer {
  left: 0;
  bottom: 5;
  width: 100%;
  background-color: transparent;
  color: black;
  text-align: center;
  color:#ffffff;
  font-family: 'Montserrat', serif;
  box-shadow:
  0 -1px 0px hsl(0deg 0% 0% / 0.5),
  0 -2px 2px hsl(0deg 0% 0% / 0.5),
  0 -4px 4px hsl(0deg 0% 0% / 0.5),
  0 -6px 6px hsl(0deg 0% 0% / 0.5)
}


.Navbar{
  text-align: center;
  border: 0px;
  border-top: 0px;
  margin:0px;
  height: 340pxpx;
}




